* {
  margin: 0;
  padding: 0;
}
body {
  background: hsla(69, 80%, 76%, 1);

  background: linear-gradient(
    90deg,
    hsla(69, 80%, 76%, 1) 0%,
    hsla(23, 68%, 67%, 1) 52%,
    hsla(342, 58%, 64%, 1) 83%,
    hsla(336, 58%, 62%, 1) 95%,
    hsla(331, 58%, 60%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(69, 80%, 76%, 1) 0%,
    hsla(23, 68%, 67%, 1) 52%,
    hsla(342, 58%, 64%, 1) 83%,
    hsla(336, 58%, 62%, 1) 95%,
    hsla(331, 58%, 60%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(69, 80%, 76%, 1) 0%,
    hsla(23, 68%, 67%, 1) 52%,
    hsla(342, 58%, 64%, 1) 83%,
    hsla(336, 58%, 62%, 1) 95%,
    hsla(331, 58%, 60%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E5F392", endColorstr="#E49E71", GradientType=1 );
}
